.fast-toc {
    padding: 1em;
    margin: 0 0 1em 0;
    background-color: white;
}

.fast-toc-title {
    margin-bottom: 1em;
}

.fast-toc ul, .fast-toc ol {
    padding:0;
    margin:0;
    list-style-type: none;
}

.fast-toc li {
    padding: 0;
    margin: 0;
}

.fast-toc li ul, .fast-toc li ol {
    margin-left: 1em;
}

li.fast-toc-1 {
    margin-left: 1em;
}

li.fast-toc-2 {
    margin-left: 2em;
}

li.fast-toc-3 {
    margin-left: 3em;
}

li.fast-toc-4 {
    margin-left: 4em;
}

li.fast-toc-5 {
    margin-left: 5em;
}

ol.fast-toc-show-counter, ol.fast-toc-show-counter ol {
    counter-reset: section 0; /* 0 = start counter; if I make an option of it, I can set it directly in the HTML in the JS file. */
    list-style-type: none;
}
  
ol.fast-toc-show-counter li::before, ol.fast-toc-show-counter ol li::before {
    counter-increment: section;
    content: counters(section, ".") " ";
}